project_files/build/
project_files/.dep/
project_files/.settings/
lib/
Scripts_python/
.DS_Store
project_files/.cproject
project_files/.project
project_files/libssp.a
project_files/libssp_nonshared.a
